---
import NavigationBar from '../components/NavigationBar';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import About from '../components/About';
import Projects from '../components/Projects.jsx'
import Contact from '../components/Contact.jsx'
import Footer from '../components/Footer';
import ParallaxLayout from '../components/ParallaxLayout.jsx';
---

<Layout>
	<NavigationBar client:load />
	<main id="scroll-container">
		<ParallaxLayout client:only="react">
			<Hero client:only="react"/>
			<About client:load/>
			<Projects client:only="react"/>
			<Contact client:only="react"/>
		</ParallaxLayout>
	</main>
	<Footer />
</Layout>
